@{
    ViewData["Title"] = "Home Page";
}
@using bbelt_exam.Models
<h1>Welcome to the Dojo Activity Center</h1>
<div class="main">
    <div class="index-form">@Html.Partial("./Partials/Login")</div>
    <br />
    <hr />
    <div class="index-form">@Html.Partial("./Partials/Register")</div>
</div>
